SHELL_SERVER_PORT=18080
SHELL_GOCLAW_GATEWAY_URL=http://158.160.207.59:18790
SHELL_JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmual1pSN23rZXCMupj2k\nluH3XCPe1HzpwvkttpA13VNWRFqzHQVuO1RgdNJ0RHZ7J4hgkScPvzLLipzULr9E\nEJeAQhQHkJ1tQ5EO2a5LOLGHU0g2dEPZrS0ziR05CLmGWWFs+5xZ9fcAjUl6ydz4\nuirM7g54LqbkpRTG2O+Cj4EylL1lNCDdEi4HAYyrXFxMuQwedK47u4EFGgBIopRO\nQL3p4iCov3SW6UNzPpdRpkuAz4CdDNeoLmQ7ZLIuuNw14A9Jna/wSRch6+fWRjCR\nHVFufxv7U7Di/ucBR3OZqqwgkdKwnd0EBnljDtTI4Uajsir3J/j6iYSKPo4HL+pu\nAwIDAQAB\n-----END PUBLIC KEY-----\n"
SHELL_REDIS_URL=redis://158.160.207.59:6379
SHELL_NATS_URL=nats://158.160.207.59:4222
SHELL_RATE_LIMIT_RPS=60
SHELL_REQUEST_TIMEOUT_MS=60000
SHELL_LOG_LEVEL=info
SHELL_SWAGGER_ENABLED=true
SHELL_GOCLAW_GATEWAY_TOKEN="dbf889b91fc805a5d23065b70705fdd94747e5b1e8470167cdf875cfeff6bf29"
SHELL_SERVICE_KEY="shell-service-key"
